.layout{
    display:flex;
    width:100vw;
    height:100vh;
}

.layout .left{
   width:120px;
   background-color: antiquewhite;
}

.layout .left .box{
    width:100px;
    height:40px;
    border:1px solid black;
    color:black;
    margin:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:move;
   
}

.layout .right{
    width:300px;
    background-color: antiquewhite;
    color:black;
    padding:10px;
}


.layout .content{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.layout .content .box{
    width:70%;
    border:1px solid white;
    color:white;
    margin:0 10px;
    display:flex;
    align-items: center;
    justify-content: center; 
    cursor:move;
    position: relative;
}

.layout .content .box.active{
    border:2px dotted red;
   
}

.layout .content .box .action{
    position: absolute;
    right:-96px;
    top:-2px;
    background-color:darkcyan;
    display:flex;
}

.layout .content .box .action .btn{
    border:1px solid black;
    font-size: 10px;
    padding:4px;
    display:flex;
    align-items: center;
    justify-items: center;
    color:rgb(38, 37, 37)
}

.layout .content .box .action .btn.disabled{
    background-color: rgb(112, 111, 111);
}

.layout .content .box .action .btn img{
    width:20px;
    height:15px;
}